.item-detail__container{
    border-radius: 10px;
    padding: 2rem;
    width: 75vw;
    max-width: 1024px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    background-color: #282C34;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;

}

.item-detail__imagen img{
    width: 100%;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgb(202, 219, 226);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

.item-detail__imagen{
    min-width: 250px;
    max-width: 45%;
    display: flex;
    overflow: hidden;

}

.item-detail__contenido{
    min-width: 250px;
    max-width: 45%;
    padding: 0 2rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.item-detail__contenido--addToCartButton{
    margin: 15px;
    width: fit-content;
    background-color: rgb(218, 230, 229);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: medium;
    align-self: center;
}
