.cart__container{
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
}

.cart__card{
display: grid;
grid-template-areas:
"img content total"
"img content total"
"img content eliminar";
grid-template-columns: 10rem 2fr 1.5fr;
grid-template-rows: 0.3fr 0.3fr .7fr;
gap: 2rem;
width: 80vw;
border-radius: 20px;
border: 1px solid #ccc;
background-color: rgb(202, 219, 226);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

.cart__card--img{
    grid-area: img;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.cart__card--content{
    grid-area: content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;

}
.cart__card--total{
    grid-area: total;
    align-self: flex-start;
    text-align: left;
    padding-top: 20px;
    justify-self: center;
}
.cart__card--eliminar{
    grid-area: eliminar;
    justify-self: center;
    
}
.cart__card--finalizar{
   
    justify-self: center;
    
}
.cart__card--finalizar--boton{
    font-size: 1rem;
    background-color: rgb(195, 218, 216);
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.cart__card--send{
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    text-align: right;
    border: 1px solid #ccc;
    background-color: rgb(197, 210, 216);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}