.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 4vw;

}
.header__logoytitulo{
    display: flex;
    align-items: center;
}

.header__logo{
    height: 30px;
}

.header__titulo{
    font-weight: 700;
}

.header__menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 4vw;
}

.nav-active{
    font-weight: bold;
    color: white;
    background-color: rgb(101, 110, 117);
    border-radius: 10px;
    text-decoration: none;
    padding: 1px 8px 3px;
}
.nav-inactive{
    font-weight: lighter;
    text-decoration: none;
    color: black;
}